@CHARSET "UTF-8";

@IMPORT url("color.css");
/*@IMPORT
	url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");*/
@IMPORT url("https://fonts.googleapis.com/icon?family=Material+Icons");

label {
	margin-bottom: 0;
}

.emoji {
	width: 24px;
	height: 24px;
}

.material-icons.md-12 {
	font-size: 12px;
}

.material-icons.md-15 {
	font-size: 15px;
}

.material-icons.md-18 {
	font-size: 18px;
}

.material-icons.md-24 {
	font-size: 24px;
}

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.md-48 {
	font-size: 48px;
}

header, footer {
	display: flex;
	align-items: center;
	padding-left: 1%;
}

header {
	font-weight: bold;
}

footer {
	height: 3vh;
	font-size: 0.7rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 0.35%
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.centered-form {
	position: absolute;
	display: table;
	height: 89vh;
}

.field-div {
	width: 100%;
	display: inline-block;
}

.field-label {
	font-weight: bold;
}

#msg-div {
	display: none;
	font-size: 0.8rem;
}

.error {
	float: right;
	margin-right: 1%;
	color: #aa0000;
}

.pass-vis {
	cursor: pointer;
}

/* Small devices (landscape phones, 576px and up) */
@media ( min-width : 576px) {
	header {
		font-size: 0.9rem;
	}
}
/* Medium devices (tablets, 768px and up) */
@media ( min-width : 768px) {
	header {
		font-size: 0.9rem;
	}
}
/* Large devices (desktops, 992px and up) */
@media ( min-width : 992px) {
	header {
		font-size: 1.4rem;
	}
}
/* Extra large devices (large desktop, 1200px and up)*/
@media ( min-width : 1200px) {
	header {
		height: 8vh;
		font-size: 1.4rem;
	}
	.heading {
		font-size: 1.4rem;
	}
	.center {
		width: 60%;
	}
	.error {
		font-size: 0.9rem;
	}
	.centered-form {
		top: 11vh;
	}
}

@media ( max-width : 576px) {
	header {
		height: 6vh;
		font-size: 1.1rem;
	}
	.w-0 {
		width: 100%;
	}
	.field-label {
		font-size: 0.9rem;
	}
	.heading {
		font-size: 0.9rem;
	}
	.center {
		width: 100%;
	}
	.error {
		font-size: 0.7rem;
	}
	.centered-form {
		top: 8vh;
	}
}

.footnote {
	font-size: 0.8rem;
	margin-top: 1%;
	text-align: center;
}

::placeholder {
	font-size: 0.8rem;
	font-style: italic;
}

i.material-icons {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.dropdown-menu>a {
	font-size: 0.9rem;
}

.dropdown-menu>a:hover {
	border: 1px solid;
	font-weight: bold;
}

i.dropdown-toggle::after {
	display: none;
}